#pie {
  path {
    color: #e50064;
  }
}
 #speaker {
     path {
    color: #954a97;
  }
}
#lab {
    path {
    color: #13a538;
  }
}
#puzzle {
    path {
    color: #f39100;
  }
}
#earth {
    path {
        color: #0863b5;
  }
}
#heart {
    path {
    color: #e3001f;

  }
}
#star {
    path {
    color: #fec600;
  }
}
#music {
    path {
    color: $black;
  }
}



