#pie {
  path {
    color: #b7295a;
  }
}
 #speaker {
     path {
    color: #6e2585;
  }
}
#lab {
    path {
    color: #acc236;
  }
}
#puzzle {
    path {
    color: #3c9eb4;
  }
}
#earth {
    path {
        color: #002561;
  }
}
#heart {
    path {
    color: #dc5034;

  }
}
#star {
    path {
    color: #f2af00;
  }
}
#music {
    path {
    color: $black;
  }
}



