@import './variables';

form {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 100%;

  label {
    font-size: 1.3em;
    letter-spacing: 0px;
    line-height: 0.5;
    font-weight: 400;
    margin-top: 40px;
  }

  input {
    height: 40px;
    margin: 20px 0px;
    box-shadow: $shadow;
    padding: 10px;
    font-size: 20px;
    font-family: 'DM Mono';
    outline: none;
    &::placeholder {
      color: #aaaaaa;
    }
    &:focus {
      outline: none;
      border: 3px solid $black;
    }
  }
}
