$black: #3b3b3b;
$white: #ffffff;
$red: #ee3b37;
$blue: #3e83c4;
$green: #16a167;
$yellow: #feba12;

$shadow: 4px 4px 0px 1px rgba(232, 232, 232, 0.7);


.nes-progress {
    border-image-slice: 2;
    border-image-width: 2;
    border-image-repeat: stretch;
    /* border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>'); */
    border-image-outset: 2;
    width: 100%;
    height: 48px;
    margin: 4px;
    /* color: #212529; */
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}